
<main class="contenedor contenedor-formularios no-padding">
    <h1><%- pageName %></h1>

    <form class="default-form" action="/change-password" method="POST">
        <div class="campo">
            <label>Previous password</label>
            <input type="password" name="password" placeholder="Your password">
        </div>

        <div class="campo">
            <label>New password</label>
            <input type="password" name="newPassword" placeholder="Your new password">
        </div>

        <div class="campo enviar">
            <input type="submit" class="btn btn-rosa" value="Change Password">
        </div>
    </form>
</main>